@CHARSET "UTF-8";
.box .title h2{font-size:20px;margin-top:16px;text-align:center;}
.line{overflow:hidden;margin-top:20px;}
.line input,.line textarea{float:left;}
.line .search_txt{float:none;margin-top:0;}
.btns .line>div{width:190px;overflow:hidden;margin:10px auto;}
.btns input:first-child{margin-right:20px;}
.btns input{width:68px;height:26px;background:#009688;color:#DDD;}
.btns input:hover{border:1px solid #186;background:#11ba67;color:#FFF;}
.autoArea{width:880px;line-height:18px; }

.a{width:466px;margin:0 auto;}
.a .line span{margin:0 20px 0 50px ;float:left;}
.b{margin-top:20px;}
.b span:first-child{margin-right:20px;float:left;}
.b .line,.btns .line{width:980px;margin:10px auto;}
.b .line .upload-bt{margin:5px 0 0 30px;}
.b .upload-bt>input:hover{color:#343030;background:#798979;box-shadow: 0 0 3px 0 #1c1818}