<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.mapper.DecorationEffectImgMapper">
  <resultMap id="BaseResultMap" type="com.hd.domain.DecorationEffectImg">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="effect_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="apply_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="img" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, effect_id, apply_id, img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from decoration_effect_img
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from decoration_effect_img
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hd.domain.DecorationEffectImg">
    insert into decoration_effect_img (id, effect_id, apply_id, 
      img)
    values (#{id,jdbcType=VARCHAR}, #{effectId,jdbcType=VARCHAR}, #{applyId,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hd.domain.DecorationEffectImg">
    insert into decoration_effect_img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="effectId != null">
        effect_id,
      </if>
      <if test="applyId != null">
        apply_id,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="effectId != null">
        #{effectId,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null">
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hd.domain.DecorationEffectImg">
    update decoration_effect_img
    <set>
      <if test="effectId != null">
        effect_id = #{effectId,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null">
        apply_id = #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hd.domain.DecorationEffectImg">
    update decoration_effect_img
    set effect_id = #{effectId,jdbcType=VARCHAR},
      apply_id = #{applyId,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>